---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Track from '../components/Track.svelte';

---

<Layout  title="Kerala Startup Mission">
	   <!-- mian-area -->
	   <main>

		<!-- banner-area -->
		<section class="banner-area-three banner-two bg-cover" data-background="img/banner/bg1.png">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-8">
						<div class="banner-content-three">
							<h2 class="title wow fadeInUp" data-wow-delay=".2s">Launch Empower Accelerate Prosper</h2>
							<p class="wow fadeInUp" data-wow-delay=".4s">The LEAP coworking space aims to create an environment that nurtures innovation, encourages networking, and facilitates the success of startups and entrepreneurs.</p>
							<!-- <a href="#portal" class="btn wow fadeInUp" data-wow-delay=".6s">Login to LEAP Portal</a> -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="features-area-three features-bg-two" data-background="/img/bg/features_bg02.jpg">
			<div class="container">
				<div class="features-item-wrap">
					<div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
						<div class="">
							<div class="fetures-item-three wow fadeInUp" data-wow-delay=".2s">
								<div class="fetures-thumb-three">
									<a href="https://startups.startupmission.in/application/incubation" target="_blank"><img src="/img/33.png" alt=""></a>
								</div>
								<div class="fetures-content-three">
									
									<div class="project-content-four">
									<h4 class="title"><a href="https://startups.startupmission.in/application/incubation" target="_blank">Apply For Coworking Space</a></h4>
                                      
                                        <div class="content-right">
                                            <a  href="https://startups.startupmission.in/application/incubation" target="_blank" class="link-btn"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="fetures-item-three wow fadeInUp" data-wow-delay=".4s">
								<div class="fetures-thumb-three">
									<a href="#portal"><img src="/img/11.png" alt=""></a>
								</div>
								<div class="fetures-content-three">
									
									<div class="project-content-four">
									<h4 class="title"><a href="#portal">Get LEAP Membership</a></h4>
                                      
                                        <div class="content-right">
                                            <a href="#portal" class="link-btn"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
								</div>
							
							</div>
						</div>
						<div class="">
							<div class="fetures-item-three wow fadeInUp" data-wow-delay=".6s">
								<div class="fetures-thumb-three">
									<a href="https://facility.startupmission.in/" target="_blank"><img src="/img/55.png" alt=""></a>
								</div>
								<div class="fetures-content-three">
									
									<div class="project-content-four">
									<h4 class="title"><a href="https://facility.startupmission.in/" target="_blank">Facility Booking &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h4>
                                      
                                        <div class="content-right">
                                            <a href="https://facility.startupmission.in/" target="_blank" class="link-btn"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- banner-area-end -->
		
		
		<!-- <section class="banner-area-two parallax">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<div class="col-lg-6 col-md-10 order-0 order-lg-2">
						<div class="banner-img-wrap">
							<img src="img/banner/AdobeStock_599990817 1.png" alt="">
							
							<div class="overly-text">
								<h2 class="title">LEAP</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner-content-two">
							<span class="sub-title wow fadeInUp" data-wow-delay=".2s">LEAP</span>
							<h2 class="title wow fadeInUp" data-wow-delay=".4s">Launch Empower Accelerate Prosper</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">Coworks</p>
							<a href="project.html" class="btn wow fadeInUp" data-wow-delay=".8s">Register Now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="banner-shape-wrap">
				<ul class="list-wrap">
					<li><img src="img/banner/h3_banner_shape01.png" alt="" class="layer" data-depth="0.3"></li>
					<li><img src="img/banner/h3_banner_shape0.png" alt="" class="layer" data-depth="0.3"></li>
					<li><img src="img/banner/h3_banner_shape03.png" alt="" class="layer" data-depth="0.1"></li>
					<li><img src="img/banner/leapimg1.png" alt="" class="layer" data-depth="0.2"></li>
					<li><img src="img/banner/h3_banner_shape05.png" alt="" class="wow fadeInLeft" data-wow-delay=".4s"></li>
					<li><img src="img/banner/h3_banner_shape06.png" alt=""></li>
					<li><img src="img/banner/leapimg2.png" alt="" class="rotateme"></li>
				</ul>
			</div>
		</section> -->
	




		<section id="portal" class="features-area-two features-bg" data-background="/img/bg/features_bg.jpg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<div class="features-item-two wow fadeInUp " data-wow-delay=".2s">
							<div class="features-item-shape">
								<svg viewBox="0 0 451 518" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 15.5706C0 12.3122 2.60044 9.64945 5.85786 9.57226L389.414 0.483096C423.541 -0.32561 451.466 27.4618 450.825 61.5922L442.369 512.113C442.308 515.382 439.64 518 436.37 518H6C2.6863 518 0 515.314 0 512V15.5706Z" fill="currentcolor" />
								</svg>
							</div>
							<div class="features-item-top">
								
								<div class="features-content-two">
									<div class=" justify-between flex mb-3">
										<h2 class="title">Platinum Card</h2>
										<h2 class="title flex text-blue-900 "><span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M15 8.25H9m6 3H9m3 6l-3-3h1.5a3 3 0 100-6M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
										  </svg>
										  </span>4999</h2>

									</div>
									<div class="about-list1 py-0 my-0">
										<ul class="list-wrap">
											<li><i class="fas fa-check"></i>Validity : 12 Months</li>
											<li><i class="fas fa-check"></i>Flexi Seats Booking : 5 Times free in a Month (After that 25% subsidy)</li>
											<li><i class="fas fa-check"></i>Flexi Seats Additional seat Booking maximum 2 seats : 25 % subsidy</li>
											<li><i class="fas fa-check"></i>KSUM conducting Startup Events : 25 % Additional Subsidy</li>
											<li><i class="fas fa-check"></i>Access to Startup Infinity Center across the world : 2 times free per month</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="features-thumb">
								<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank"><img src="/img/platinumcard.jpeg" alt=""></a>
								<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank" class="link-btn"><img src="/img/icon/right_arrow02.svg" alt=""></a>
							</div>
						</div>
					</div>
					<div class="col-xl-5 col-lg-6 col-md-8">
						<div class="features-item-two wow fadeInUp" data-wow-delay=".4s">
							<div class="features-item-shape">
								<svg viewBox="0 0 451 518" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 15.5706C0 12.3122 2.60044 9.64945 5.85786 9.57226L389.414 0.483096C423.541 -0.32561 451.466 27.4618 450.825 61.5922L442.369 512.113C442.308 515.382 439.64 518 436.37 518H6C2.6863 518 0 515.314 0 512V15.5706Z" fill="currentcolor" />
								</svg>
							</div>
							<div class="features-item-top">
								
								<div class="features-content-two">
									<div class=" flex justify-between mb-3">
										<h2 class="title">Gold Card</h2>

										<h2 class="title flex text-blue-900 "><span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M15 8.25H9m6 3H9m3 6l-3-3h1.5a3 3 0 100-6M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
										  </svg>
										  </span>1999</h2>
									</div>
									<div class="about-list1 py-0 my-0">
										<ul class="list-wrap">
											<li><i class="fas fa-check"></i>Validity : 12 Months</li>
											<li><i class="fas fa-check"></i>Flexi Seats Booking : 2 Times free in month After that 25% subsidy</li>
											<li><i class="fas fa-check"></i>Flexi Seats Additional seat Booking maximum 2 seats : 25 % subsidy</li>
											<li><i class="fas fa-check"></i>KSUM conducting Startup Events : 15% additional Subsidy</li>
											<li><i class="fas fa-check"></i>Access to Startup Infinity Center across the world : Nil</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="features-thumb">
								<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank"><img src="/img/goldcard.jpeg" alt=""></a>
								<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank" class="link-btn"><img src="/img/icon/right_arrow02.svg" alt=""></a>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</section>







		<section class="about-area py-24" id="about">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-7 col-lg-6 order-0 order-lg-2">
						<div class="about-img-wrap">
							<img src="img/banner/AdobeStock_599843968 1.png" alt="" class="wow fadeInRight" data-wow-delay=".4s">
							<img src="img/banner/AdobeStock_601484628 1.png" alt="" class="wow fadeInRight" data-wow-delay=".2s">
							<div class="about-experiences-wrap">
								<div class="experiences-item">
									<div class="icon">
										<img src="img/icon/about_icon01.svg" alt="">
									</div>
									<div class="content">
										<h6 class="title">We have more than 10 years of experiences</h6>
									</div>
								</div>
								<div class="experiences-item">
									<div class="icon">
										<img src="img/icon/about_icon02.svg" alt="">
									</div>
									<div class="content">
										<h6 class="title">We use professional and experienced person</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section-title w-full py-6">
				
						<h2 class="title tg-element-title md:text-9xl text-5xl" style="opacity: 0.2;"><sup><i class="fas fa-quote-left text-lg text-gray-500"></i></sup>We’re Committed to  provide comprehensive support and resources to startups and entrepreneurs in Kerala.<sup><i class="fas fa-quote-right text-lg text-gray-500"></i></sup>  </h2>
						
					</div>
					<div class="col-xl-5 col-lg-6" id="facility">
						<div class="about-content">
							
							<div class="section-title mb-25 tg-heading-subheading animation-style3">
								<!-- <span class="sub-title tg-element-title">About Our Company</span> -->
								<!-- <h2 class="title tg-element-title">We’re Committed to  provide comprehensive support and resources to startups and entrepreneurs in Kerala.  </h2> -->
							</div>
							<p>Kerala Startup Mission (KSUM) has been at the forefront of supporting startups and entrepreneurs in Kerala through its incubation centers. Now, we are going to transform our incubation centers, partner incubation centers, and IEDC owned incubation centers into a vibrant coworking space called LEAP Coworks. LEAP, which stands for Launch Empower Accelerate Prosper, embodies our commitment to fostering innovation, collaboration, and success in the startup ecosystem.</p>
							<div class="about-list">
								<ul class="list-wrap">
									<li><i class="fas fa-check"></i>Plug and play Workstations</li>
									<li><i class="fas fa-check"></i>Meeting Rooms & Discussion Rooms</li>
									<li><i class="fas fa-check"></i>High speed Internet</li>
								</ul>
							</div>
							<p  class="btn cursor-pointer" onclick="myFunction()" id="btn" >Learn More</p>
						</div>
					</div>
				</div>
			</div>
		</section>




		<section class="services-area-three mb-24" id="hidden_div" style="display:none">
			<div class="services-bg jarallax" data-background="img/banner/AdobeStock_493770853 1.png"></div>
			<div class="container">
				
				<div class="row justify-content-center">
					<div class="col-xl-10">
						<div class="services-nav-wrap">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="building-tab" data-bs-toggle="tab" data-bs-target="#building-tab-pane" type="button" role="tab" aria-controls="building-tab-pane" aria-selected="true">Facilities includes</button>
								</li>
								
							</ul>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="building-tab-pane" role="tabpanel" aria-labelledby="building-tab" tabindex="0">
									<div class="services-item-three">
										<!-- <div class="services-thumb-three">
											<img src="img/services/h4_services_img01.jpg" alt="">
										</div> -->
										<div class="services-content-three w-full">
											<!-- <div class="section-title mb-30">
												<h2 class="title">Bringing New IT Business Solutions And Ideas</h2>
											</div>
											<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p> -->
											<div class="services-list w-full">
												<ul class="list-wrap flex items-start">
													<li><i class="fas fa-check-circle"></i>Will gain subsidized access to all LEAP center facilities</li>
													<li><i class="fas fa-check-circle"></i>Access to KSUM's partner incubation centers across the State </li>
													<li><i class="fas fa-check-circle"></i>Will get access to book Flexi Workstations</li>
													<li><i class="fas fa-check-circle"></i>Additional subsidies for KSUM partnering events</li>
													<li><i class="fas fa-check-circle"></i>Talent acquisition support</li>
													<li><i class="fas fa-check-circle"></i>Cloud credits</li>
													<li><i class="fas fa-check-circle"></i>Uninterrupted internet and electricity</li>
													<li><i class="fas fa-check-circle"></i>Internship drives and tech training</li>
													<li><i class="fas fa-check-circle"></i>5 days access to flexi seats free of cost at any facility every month</li>
												
													<li><i class="fas fa-check-circle"></i>One year validity for a membership card</li>
													<li><i class="fas fa-check-circle"></i>25% subsidy on all major events done by KSUM</li>
													<li><i class="fas fa-check-circle"></i>Access to Leap Centers across the country</li>
													<li><i class="fas fa-check-circle"></i>Access to Startup Infinity Centers across the world</li>
													<li><i class="fas fa-check-circle"></i>Startup matchmaking opportunity</li>
													<li><i class="fas fa-check-circle"></i>Startup Cofounder matchmaking opportunity</li>
													<li><i class="fas fa-check-circle"></i>Access to investor network</li>
													<li><i class="fas fa-check-circle"></i>Access to mentor network</li>
													<li><i class="fas fa-check-circle"></i>Access to Technology experts</li>
					
												
												</ul>
											</div>
											<a href="https://leap-portal.startupmission.in/" target="_blank" class="btn text-end float-right">Register Now</a>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>




		<!-- <section class="services-area-three mb-24" id="hidden_div" style="display:none">
			<div class="services-bg jarallax" data-background="img/banner/AdobeStock_493770853 1.png"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="section-title text-center white-title mb-60">
							<span class="sub-title">Discover Our Company</span>
							<h2 class="title">See Our Roofing Services Details</h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-10">
						<div class="services-nav-wrap">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="building-tab" data-bs-toggle="tab" data-bs-target="#building-tab-pane" type="button" role="tab" aria-controls="building-tab-pane" aria-selected="true">Facilities includes</button>
								</li>
								
							</ul>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="building-tab-pane" role="tabpanel" aria-labelledby="building-tab" tabindex="0">
									<div class="services-item-three">
										 <div class="services-thumb-three">
											<img src="img/services/h4_services_img01.jpg" alt="">
										</div> 
										<div class="services-content-three w-full">
											 <div class="section-title mb-30">
												<h2 class="title">Bringing New IT Business Solutions And Ideas</h2>
											</div>
											<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p>
											<div class="services-list w-full">
												<ul class="list-wrap flex items-start">
													<li><i class="fas fa-check-circle"></i>Plug and play Workstations</li>
													<li><i class="fas fa-check-circle"></i>Meeting Rooms & Discussion Rooms</li>
													<li><i class="fas fa-check-circle"></i>Internet Upto 100mbps</li>
													<li><i class="fas fa-check-circle"></i>Power & Air conditioning</li>
													<li><i class="fas fa-check-circle"></i>Housekeeping Service</li>
													<li><i class="fas fa-check-circle"></i>Security</li>
													<li><i class="fas fa-check-circle"></i>CCTV</li>
													<li><i class="fas fa-check-circle"></i>Maintenance</li>
													<li><i class="fas fa-check-circle"></i>Certified Fire Fighting Building</li>
												
													<li><i class="fas fa-check-circle"></i>Free credits on product development tools</li>
													<li><i class="fas fa-check-circle"></i>Drinking Water</li>
													<li><i class="fas fa-check-circle"></i>Cafeteria</li>
													<li><i class="fas fa-check-circle"></i>Sick room</li>
													<li><i class="fas fa-check-circle"></i>Game Center</li>
													<li><i class="fas fa-check-circle"></i>Access to investor network</li>
													<li><i class="fas fa-check-circle"></i>Access to mentor network</li>
													<li><i class="fas fa-check-circle"></i>Access to Technology experts</li>
													<li><i class="fas fa-check-circle"></i>Free credits on product development tools</li>
													<li><i class="fas fa-check-circle"></i>Access to KSUM partnering Events and programmes </li>
													<li><i class="fas fa-check-circle"></i>Entry to the Founder's community </li>
												
												</ul>
											</div>
											<a href="https://leap-portal.startupmission.in/" target="_blank" class="btn text-end float-right">Register Now</a>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
	 <!-- project-area 1-->


	<!-- ########################################################################### -->
	
	<!-- <div id="portal" class="area-bg-three bg-no-repeat bg-cover" data-background="/img/bg/features_bg02.jpg"> -->
	
		<!-- <section class="inner-blog-area pt-120 pb-120">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-8">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="blog-post-item">
									<div class="blog-post-thumb">
										<a href="blog-details.html"><img src="/img/platinumcard.jpeg" alt=""></a>
									</div>
									<div class="blog-post-content bg-white">
										<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank" class="tag">Register Now</a>
										<table class="table-auto  text-[13px]">
								
											<tbody>
												<tr>
													<td  class="pb-1 text-blue-900 text-base font-semibold">4999 pack</td>
													<td  class="pb-1 pr-3"></td>
													
													
												  </tr>
											  <tr>
												<td  class="pb-1 pr-3">Validity</td>
												<td  class="pb-1 pr-3">12 Months</td>
												
												
											  </tr>
											  <tr>
												<td class="pb-1 pr-3">Flexi Seats Booking	</td>
												<td class="pb-1 pr-3">5 Times free in a Month (After that 25% subsidy)</td>
												
											  </tr>
											  <tr>
												<td class="pb-2">Flexi Seats Additional seat Booking maximum 2 seats	</td>
												<td class="pb-2">25 % subsidy									</td>
												
											  </tr>
											  <tr>
												<td>KSUM conducting Startup Events</td>
												<td>25 % Additional Subsidy</td>
											  </tr>
											  <tr>
												<td>Access to Startup Infinity Center across the world</td>
												<td>2 times free per month</td>
											  </tr>
											</tbody>
										  </table>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="blog-post-item">
									<div class="blog-post-thumb">
										<a href="blog-details.html"><img src="/img/goldcard.jpeg" alt=""></a>
									</div>
									<div class="blog-post-content bg-white">
										<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank" class="tag">Register Now</a>
										<table class="table-auto  text-[13px]">
								
											<tbody>
												<tr>
													<td  class="pb-1 text-blue-900 text-base font-semibold">1999 pack</td>
													<td  class="pb-1 pr-3"></td>
													
													
												  </tr>
											  <tr>
												<td  class="pb-1 pr-3">Validity</td>
												<td  class="pb-1 pr-3">12 Months</td>
												
												
											  </tr>
											  <tr>
												<td class="pb-1 pr-3">Flexi Seats Booking	</td>
												<td class="pb-1 pr-3">2 Times free in a Month 
													After that 25% subsidy
													
													</td>
												
											  </tr>
											  <tr>
												<td class="pb-2">Flexi Seats Additional seat Booking maximum 2 seats	</td>
												<td class="pb-2">25 % subsidy									</td>
												
											  </tr>
											  <tr>
												<td>KSUM conducting Startup Events</td>
												<td>15% additional Subsidy</td>
											  </tr>
											  <tr>
												<td>Access to Startup Infinity Center across the world</td>
												<td>Nil</td>
											  </tr>
											</tbody>
										  </table>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
			</div>
		</section> -->



	
		<!-- <section class="project-area-three">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="project-details.html"><img src="/img/platinumcard.jpeg" alt=""></a>
						</div>
						<div class="content text-white flex justify-between">
							<h2 class=" text-white text-2xl font-semibold pt-2">PLATINUM CARD</h2>

						</div>
						<div class="project-content-two px-3 mx-auto ">
							<table class="table-auto text-white text-sm">
								
								<tbody>
								  <tr>
									<td  class="pb-1 pr-3">Validity</td>
									<td  class="pb-1 pr-3">12 Months</td>
									
								  </tr>
								  <tr>
									<td class="pb-1 pr-3">Flexi Seats Booking	</td>
									<td class="pb-1 pr-3">5 Times free in a Month (After that 25% subsidy)</td>
									
								  </tr>
								  <tr>
									<td>Flexi Seats Additional seat Booking maximum 2 seats	</td>
									<td>25 % subsidy									</td>
									
								  </tr>
								</tbody>
							  </table>
							<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank" class=" text-sm bg-white px-2 py-1 w-fit mt-2 flex rounded-full">Register Now
							  </a>
						</div>
					</div>
				</div>


				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="project-details.html"><img src="/img/goldcard.jpeg" alt=""></a>
						</div>
						<div class="content text-white flex justify-between">
							<h2 class=" text-white text-2xl font-semibold pt-2">GOLD CARD</h2>

						</div>
						<div class="project-content-two px-3 mx-auto ">
							<table class="table-auto text-white text-sm">
								
								<tbody>
								  <tr>
									<td  class="pb-1 pr-3">Validity</td>
									<td  class="pb-1 pr-3">12 Months</td>
									
								  </tr>
								  <tr>
									<td class="pb-1 pr-3">Flexi Seats Booking	</td>
									<td class="pb-1 pr-3">2 Times free in a Month (After that 25% subsidy)</td>
									
								  </tr>
								  <tr>
									<td>Flexi Seats Additional seat Booking maximum 2 seats	</td>
									<td>25 % subsidy									</td>
									
								  </tr>
								</tbody>
							  </table>
							<a href="https://leap-portal.startupmission.in/startup/subscribe" target="_blank" class=" text-sm bg-white px-2 py-1 w-fit mt-2 flex rounded-full">Register Now
							  </a>
						</div>
					</div>
				</div>

		</div>
	</section> -->
	<!-- </div> -->
	<!-- ########################################################################### -->




	 


	 <section class="testimonial-area-two pb-24">
		<div class="container">
			<div class="row justify-content-center">
				
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="testimonial-inner">
						<div class="testimonial-active-two">
							<div class="testimonial-item-two">
								
								<div class="testimonial-content-two">
									<div class="content-top">
										<div class="icon">
											<i class="fas fa-quote-left"></i>
										</div>
										
									</div>
									<p>LEAP will offer state-of-the-art infrastructure, well-designed workspaces, meeting rooms, high-speed internet connectivity, and other essential amenities required for a productive work environment.</p>
									
								</div>
							</div>
							<div class="testimonial-item-two">
								
								<div class="testimonial-content-two">
									<div class="content-top">
										<div class="icon">
											<i class="fas fa-quote-left"></i>
										</div>
										
									</div>
									<p>While transitioning to a coworking model, KSUM will continue to provide valuable incubation support services to startups, including mentorship programs, business development assistance, access to funding opportunities, and expert guidance. .</p>
									
								</div>
							</div>
							<div class="testimonial-item-two">
								
								<div class="testimonial-content-two">
									<div class="content-top">
										<div class="icon">
											<i class="fas fa-quote-left"></i>
										</div>
										
									</div>
									<p>LEAP will foster a vibrant community of like-minded individuals and startups, creating opportunities for collaboration, knowledge sharing, and networking. We will organize regular events, workshops, and networking sessions to facilitate meaningful connections.</p>
									
								</div>
							</div>
							<div class="testimonial-item-two">
								
								<div class="testimonial-content-two">
									<div class="content-top">
										<div class="icon">
											<i class="fas fa-quote-left"></i>
										</div>
										
									</div>
									<p>KSUM will introduce flexible membership plans to accommodate various needs of the startup, including hot desks, dedicated desks, and private office spaces. These plans will provide startups with the flexibility to scale their operations as they grow.</p>
									
								</div>
							</div>
							<div class="testimonial-item-two">
								
								<div class="testimonial-content-two">
									<div class="content-top">
										<div class="icon">
											<i class="fas fa-quote-left"></i>
										</div>
										
									</div>
									<p>LEAP will become the Single access point for entrepreneurs to enter the startup ecosystem and also will get the opportunities to get access to the KSUM Schemes like Grants , Seed Loans , Market access, Mentors connect, Investor connect etc. </p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	

	 <!-- <section class="inner-project-area py-24">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="/single"><img src="img/project/h3_project_img01.jpg" alt=""></a>
						</div>
						<div class="project-content-two">
							<span>Product Design</span>
							<h2 class="title"><a href="/single">Web Application</a></h2>
							<a href="/single" class="link-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="/single"><img src="img/project/h3_project_img02.jpg" alt=""></a>
						</div>
						<div class="project-content-two">
							<span>Product Design</span>
							<h2 class="title"><a href="/single">Web Application</a></h2>
							<a href="/single" class="link-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="/single"><img src="img/project/h3_project_img03.jpg" alt=""></a>
						</div>
						<div class="project-content-two">
							<span>Product Design</span>
							<h2 class="title"><a href="/single">Web Application</a></h2>
							<a href="/single" class="link-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="/single"><img src="img/project/h3_project_img04.jpg" alt=""></a>
						</div>
						<div class="project-content-two">
							<span>Product Design</span>
							<h2 class="title"><a href="/single">Web Application</a></h2>
							<a href="/single" class="link-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="/single"><img src="img/project/h3_project_img05.jpg" alt=""></a>
						</div>
						<div class="project-content-two">
							<span>Product Design</span>
							<h2 class="title"><a href="/single">Web Application</a></h2>
							<a href="/single" class="link-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item-two">
						<div class="project-thumb-two">
							<a href="/single"><img src="img/project/h3_project_img06.jpg" alt=""></a>
						</div>
						<div class="project-content-two">
							<span>Product Design</span>
							<h2 class="title"><a href="/single">Web Application</a></h2>
							<a href="/single" class="link-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	 <!-- <section class="team-area pb-24">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
					<div class="team-item">
						<div class="team-thumb">
							<a href="/tvm"><img src="img/bg/IMG-20230731-WA0009 1 (1).png" alt=""></a>
							<div class="team-social">
								<ul class="list-wrap">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content bottom-0">
							<h2 class=" text-white text-base"><a href="/tvm">Kerala Startup Mission</a></h2>
							<p class=" text-sm text-white">G3B, Tejaswini, Technopark, Trivandrum</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
					<div class="team-item">
						<div class="team-thumb">
							<a href="/startupdreams"><img src="img/bg/2019-04-29 2 (1).png" alt=""></a>
							<div class="team-social">
								
							</div>
						</div>
						<div class="team-content">
							<h2 class="title"><a href="/startupdreams">Startup Dreams</a></h2>
							<span>Ambedkar Bhavan, Mannamthala, Trivandrum</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
					<div class="team-item">
						<div class="team-thumb">
							<a href="/single"><img src="img/team/team_img03.jpg" alt=""></a>
							<div class="team-social">
								
							</div>
						</div>
						<div class="team-content">
							<h2 class="title"><a href="/single">Karikoka Ahli</a></h2>
							<span>Roof Engineer</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
					<div class="team-item">
						<div class="team-thumb">
							<a href="/single"><img src="img/team/team_img04.jpg" alt=""></a>
							<div class="team-social">
								
							</div>
						</div>
						<div class="team-content">
							<h2 class="title"><a href="/single">Dickerson MH</a></h2>
							<span>Roof Engineer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>  -->


<!-- 	
	<section class="team-area-two pb-24">
		<div class="container">
			
			<div class="row justify-content-center"> -->
				<Track client:load ></Track>
				
				<!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/tvm"><img src="img/bg/IMG-20230731-WA0009 1.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
								
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/tvm">Kerala Startup Mission
								</a></h2>
							<span>G3B, Tejaswini, Technopark, Trivandrum</span>
						</div>
					</div>
					</div>

				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/startupdreams"><img src="img/bg/2019-04-29 2.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
									
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/startupdreams">Startup Dreams
								</a></h2>
							<span>Ambedkar Bhavan, Mannamthala, Trivandrum</span>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/kollam"><img src="img/bg/IMG-20230731-WA0026 1.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
								
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/kollam">Kerala Startup Mission
								 </a></h2>
							<span>ASAP Community skill park Kulakkada, Kollam</span>
						</div>
					</div>
				</div>


				
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/kochi"><img src="img/bg/KSUM 1.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
									
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/kochi">Kerala Startup Mission
								</a></h2>
							<span>Kerala Technology Innovation Zone, Kochi</span>
						</div>
					</div>
				</div>
				
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/plkd"><img src="img/bg/IMG-20230726-WA0014 1.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
									
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/plkd">Kerala Startup Mission
								</a></h2>
							<span>Govt. Polytechnic College, Palakkad</span>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/kozhikode"><img src="img/bg/IMG_8976 1.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
									
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/kozhikode">Kerala Startup Mission
								</a></h2>
							<span>Govt.Cyberpark, Nellikode, Kozhikode</span>
						</div>
					</div>
				</div>


				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/kozhikodeulpark"><img src="img/bg/IMG_20230609_191809286 1.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
									
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/kozhikodeulpark">Kerala Startup Mission
								</a></h2>
							<span> UL CyberPark, Nellikode, Kozhikode</span>
						</div>
					</div>
				</div>


				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/kannur"><img src="img/bg/2019-06-17 1.png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
									
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/kannur">MiZonne
								 </a></h2>
							<span>Near Kannur University Campus Kalliasseri , Kannur</span>
						</div>
					</div>
				</div>


				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
					<div class="team-item-two">
						<div class="team-thumb-two">
							<a href="/kasaragod"><img src="img/bg/IMG-20230731-WA0019 1 (1).png" alt=""></a>
							<div class="team-social-two">
								<ul class="list-wrap">
									
									<li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content-two">
							<h2 class="title"><a href="/kasaragod">Kerala Startup Mission
								 </a></h2>
							<span>ASAP Community Skill Park, Kasaragod</span>
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</section>

	

		<section id="contact" class="newsletter-area jarallax newsletter-bg" data-background="img/banner/AdobeStock_184023893 1.png">
			<div class="container">
				<div class=" flex md:flex-row flex-col justify-between px-4">
					<div class=" ">
						<div class="newsletter-content flex ">
							<div class="section-title white-title-two justify-center flex flex-col text-center items-center  ">
								<img src="img/logo-white.svg" class=" w-40">
								<h2 class=" text-lg text-white flex">G3B, Thejaswini, Technopark Campus,</h2>
								<h2 class=" text-white text-lg flex">Trivandrum, Kerala 695581</h2>
							</div>
						</div>
					</div>
					<div class=" flex items-center ">
						<div class="newsletter-content flex ">
							<div class="section-title white-title-two justify-center flex flex-col  ">
								<h2 class=" text-white flex">For more details</h2>
								<h2 class=" text-white text-lg font-semibold flex">Arun G</h2>
								<h2 class=" text-white text-lg font-semibold flex">Assistant Manager</h2>
								<a class=" text-blue-200" href="mailto:arun@startupmission.in">arun@startupmission.in</a>
								<a class=" text-blue-200" href="tel:04712700270">0471 2700270</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- newsletter-area-end -->

	</main>
	<!-- mian-area-end -->

	
</Layout>
<script is:inline>
    function myFunction() {
        var x = document.getElementById("hidden_div");
       
		var e = document.getElementById("btn");

        if (x.style.display === "none") {
                    x.style.display = "block";
					e.innerHTML="Close"
                    
                } else {
                    x.style.display = "none";
					e.innerHTML="Learn More"
                   
                }
    }
</script>


