<footer class="footer footer-style2 pb-10">
    <div class="tf-container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-item-logo">
                    <div class="logo">
                        <img src="/leap/leap.svg" alt="image">
                    </div>
                    <p class="des-footer">LEAP will offer well designed workspace, meeting rooms, high speed internet connectivity and other essential amenities  for a productive environment for the startups.

                    </p>
                    <ul class="social flex-three ">
                        <li><a href="https://www.facebook.com/keralastartupmission" target="_blank"><i class="icon-icon-2"></i></a></li>
                        <li><a href="https://www.instagram.com/keralastartupmission/" target="_blank"><i class="icon-8"></i></a></li>
                        <li><a href="https://x.com/startup_mission" target="_blank"><i class="icon-x"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank"><i class="icon-icon"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 my-auto">
                <div class="footer-item-company">
                    <a href="https://startupmission.kerala.gov.in/" target="_blank">
                        <h6 class="title mb-30">Kerala Startup Mission</h6>
                    </a>
                    <ul class="footer-menu">
                        <li>
                            <a href="/#about">ABOUT </a>
                        </li>
                        <li>
                            <a href="">LEAP CO-WORKS</a>
                        </li>
                        <li>
                            <a href="">LEAP MEMBERSHIP</a>
                        </li>
                        <li>
                            <a href="">FACILITY BOOKING</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
               
            </div>
            <div class="col-md-3 my-auto">
                <div class="footer-item-newsletter">
                    <div class="logo">
                        <img src="/img/logo.svg" alt="image" class="w-28">
                    </div>
                   <div class="pt-4">
                        <h4 class=" font-semibold">For more details</h4>
                        <h4>Arun G</h4>
                        <h4>Assistant Manager</h4>
                        <h4>arun@startupmission.in</h4>
                        <h4>0471 2700270</h4>
                   </div>
                </div>
            </div>
        </div>
     
    </div>
</footer>