<section class="section-blog pb-24 relative">
    <div class="bg-blog-h4"></div>
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12 mb-10">
                <div class="center m0-auto w-text-heading">
                    <span
                        class="sub-title-heading text-main font-yes fs-28-46 text-base  ">LEAP Centres</span>
                    <h2 class="title-heading  font-bold text-2xl ">KSUM Owned centres</h2>
                </div>
            </div>
        </div>
        <div class="">
           
            <div class="grid md:grid-cols-2 grid-cols-1 gap-4 ">
                <div class="tf-widget-blog flex-three blog-style3 ">
                    <a href="blog-details.html" class="blog-image">
                        <img src="./assets/images/blog/bl-h4-1.jpg" alt="">
                    </a>
                    <div class="blog-content">
                       
                        <h3 class="entry-title"><a href="blog-details.html">Kerala Startup Mission Kozhikode</a>
                        </h3>
                        <p class="text-sm">Govt.Cyberpark, Nellikode</p>
                        
                       <div class=" flex justify-between">
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                            <ul class="meta-list flex-three py-1">
                                <li class=" flex items-center justify-center">
                                    <i class="icon-profile-user-1"></i>
                                    <span class="text-sm">Kavya K S</span>
                                </li>
                            
                            </ul>
                       </div>

                    </div>
                </div>
                <div class="tf-widget-blog flex-three blog-style3 ">
                    <a href="blog-details.html" class="blog-image">
                        <img src="./assets/images/blog/bl-h4-1.jpg" alt="">
                    </a>
                    <div class="blog-content">
                       
                        <h3 class="entry-title"><a href="blog-details.html">Kerala Startup Mission Kozhikode</a>
                        </h3>
                        <p class="text-sm">2nd Floor, UL CyberPark Rd, Nellikkode</p>
                        
                       <div class=" flex justify-between">
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                            <ul class="meta-list flex-three py-1">
                                <li class=" flex items-center justify-center">
                                    <i class="icon-profile-user-1"></i>
                                    <span class="text-sm">Kavya K S</span>
                                </li>
                            
                            </ul>
                       </div>

                    </div>
                </div>

                <div class="tf-widget-blog flex-three blog-style3 ">
                    <a href="blog-details.html" class="blog-image">
                        <img src="./assets/images/blog/bl-h4-1.jpg" alt="">
                    </a>
                    <div class="blog-content">
                       
                        <h3 class="entry-title"><a href="blog-details.html">Kerala Startup Mission Kozhikode</a>
                        </h3>
                        <p class="text-sm">Govt.Cyberpark, Nellikode</p>
                        
                       <div class=" flex justify-between">
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                            <ul class="meta-list flex-three py-1">
                                <li class=" flex items-center justify-center">
                                    <i class="icon-profile-user-1"></i>
                                    <span class="text-sm">Kavya K S</span>
                                </li>
                            
                            </ul>
                       </div>

                    </div>
                </div>

                <div class="tf-widget-blog flex-three blog-style3 ">
                    <a href="blog-details.html" class="blog-image">
                        <img src="./assets/images/blog/bl-h4-1.jpg" alt="">
                    </a>
                    <div class="blog-content">
                       
                        <h3 class="entry-title"><a href="blog-details.html">Kerala Startup Mission Kozhikode</a>
                        </h3>
                        <p class="text-sm">Govt.Cyberpark, Nellikode</p>
                        
                       <div class=" flex justify-between">
                            <a href="blog-details.html" class="btn-read-more">Read More <i
                                    class="icon-Vector-4"></i></a>
                            <ul class="meta-list flex-three py-1">
                                <li class=" flex items-center justify-center">
                                    <i class="icon-profile-user-1"></i>
                                    <span class="text-sm">Kavya K S</span>
                                </li>
                            
                            </ul>
                       </div>

                    </div>
                </div>
               
               
            </div>
           
          
        </div>

    </div>
</section>