<header>
  <div id="sticky-header" class="menu-area menu-area-four transparent-header">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                  <div class="menu-wrap">
                      <nav class="menu-nav">
                        <!-- <div class="logo flex">
                            <div class=" border-r border-black  flex p-2">
                              <img src="img/leap final logo (1)_page-0001 1.png" alt="Logo" class=" w-20">

                            </div>
                            <div class="flex flex-col items-start ">
                              <sup class=" text-black px-2 py-1" style="font-size: xx-small;">Powered by</sup>
                              <img src="img/banner/logo.png" alt="Logo" class=" w-24 ">

                            </div>
                        </div> -->
                        <div class="logo">
                            <img src="img/bg/unnamed.png" alt="Logo" class="">
                        </div>
                          <div class="navbar-wrap main-menu d-none d-lg-flex justify-end">
                              <ul class="navigation">
                                  <li class="/index"><a href="#">Home</a>
                                     
                                  </li>
                                  <li><a href="#about">About us</a></li>
                                  
                                  <li><a href="#facility" >Facilities</a></li>
                                 
                                 
                                  <li><a href="#contact">Contact</a></li>
                              </ul>
                          </div>
                          <!-- <div class="header-action d-none d-md-block">
                              <ul class="list-wrap">
                                  <li class="header-btn"><a href="https://leap-portal.startupmission.in/"  target="_blank" class="btn btn-two">Register Now</a></li>
                              </ul>
                          </div>
                      </nav> -->
                  </div>

                  <!-- Mobile Menu  -->
                  <div class="mobile-menu">
                      <nav class="menu-box">
                          <div class="close-btn"><i class="fas fa-times"></i></div>
                          <div class="nav-logo">
                              <a href="index.html"><img src="img/banner/leap final logo (1).jpg" alt="Logo"></a>
                          </div>
                          <div class="menu-outer">
                              <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                          </div>
                          <div class="social-links">
                              <!-- <ul class="clearfix list-wrap">
                                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                              </ul> -->
                          </div>
                      </nav>
                  </div>
                  <div class="menu-backdrop"></div>
                  <!-- End Mobile Menu -->

              </div>
          </div>
      </div>
  </div>
</header>
