   <header class="main-header header-style2 flex">
    <div id="header">
        <div class="header-top relative overflow-hidden">
            <div class="header-top-wrap flex-two md:px-6 px-3">
                
                <div class="header-top-right">
                    <ul class=" flex-three">
                        <li class="flex-three">
                            <!-- <i class="icon-day"></i>
                            <span>Thursday, Mar 26, 2021</span> -->
                        </li>
                        <li class="flex-three">
                            <i class="icon-mail"></i>
                            <span>leap@startupmission.in</span>
                        </li>
                        <li class="flex-three">
                            <i class="icon-phone"></i>
                            <span>08047180470</span>
                        </li>


                    </ul>
                </div>
                <div class="header-top-left flex-two">
                    <div class="follow-social flex-two">
                        <ul class="flex-two">
                            <li><a href="https://www.facebook.com/keralastartupmission" target="_blank"><i class="icon-icon-2"></i></a></li>
                            <li><a href="https://www.instagram.com/keralastartupmission/" target="_blank"><i class="icon-8"></i></a></li>
                            <li><a href="https://x.com/startup_mission" target="_blank"><i class="icon-x"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank"><i class="icon-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
     
    </div>

 

</header>
